/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

.evand-widget-event-registration .evand-panel {
    @apply max-w-full  #{!important};
}

.evand-panel {
    @apply w-full flex flex-col rounded-lg border shadow-primary-100 shadow-lg dark:shadow-secondary-900 bg-white animate-recolor dark:bg-secondary-800 #{!important};

    .evand-panel-header {
        @apply px-4 py-4 flex justify-between items-center border-b border-secondary-200 dark:border-secondary-600 #{!important};

        .header-right {
            @apply text-lg font-medium whitespace-normal text-secondary-700 dark:text-secondary-300 #{!important};
        }
    }

    .evand-panel-body {
        @apply px-4 py-4 dark:border-0 #{!important};

        .event-ticket {
            @apply border-b border-secondary-200 dark:border-secondary-600 #{!important};
            .ticket-title, .ticket-price {
                @apply font-medium text-base dark:text-secondary-400 text-secondary-600 #{!important};
            }
        }
    }


    .evand-panel-footer {
        @apply px-4 py-4 border-t border-secondary-200 dark:border-secondary-600 #{!important};

        .evand-right{
            @apply hidden #{!important};
        }
        .evand-left{
            @apply float-none w-full flex #{!important};

            .evand-button{
                @apply outline-none mx-auto inline-flex justify-center items-center transition-all ease-in duration-150 focus:ring-2 focus:ring-offset-2 hover:shadow-sm disabled:opacity-80 disabled:cursor-not-allowed rounded gap-x-2 text-sm px-4 py-2 ring-warning-500 text-white bg-warning-500 hover:bg-warning-600 hover:ring-warning-600 dark:ring-offset-secondary-800 dark:bg-warning-700 dark:ring-warning-700 dark:hover:bg-warning-600 dark:hover:ring-warning-600 #{!important};
            }
            // @apply hidden #{!important};
        }
    }
}

#evand-modal .evand-modal{
    @apply p-1 lg:p-4 #{!important};

    .close-wrapper, iframe {
        max-width: unset !important;
        max-height: 85vh !important;
    }

    .close-wrapper {
        @apply mb-4 #{!important};

        .evand-modal-close {
            @apply text-secondary-900 text-3xl h-11 w-11 rounded-lg border border-secondary-900 bg-white dark:border-secondary-700 font-normal dark:text-secondary-500 dark:bg-secondary-800 #{!important};
        }
    }

    iframe {
        @apply w-full rounded-lg shadow-lg border border-secondary-900 bg-white dark:border-secondary-700 #{!important};
    }
}


